# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

node_modules
/.cache
/.parcel-cache
.DS_Store

# keep generated holidays in dist folder
!dist/holidays/*.json
# but ignore locally build app files
dist
